*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.part-1 div {
    width: 300px;
    height: 60px;
    background-color: #aaaaaa77;
    margin: 20px 0 ;
    text-align: center;
    padding: 20px;
}

div:nth-child(2) {
    background-color: rgb(224, 28, 28);
    color: white;
}

.rectangle {
    position: relative;
    left: 40%;
}

.part-2 {
    width: 320px;
    height: 60px;
    background-color: #aaaaaa77;
    text-align: center;
    padding-top: 15px;
}

.part-2::before {
    content: '1';
    width: 20px;
    height: 30px;
    background-color: rgb(213, 24, 24);
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: -10px; 
    padding: 5px;
    top: 10px;
}

.part-3 {
    margin: 50px;
    position: relative;
    height: 100px;
    width: auto;
}

.part-3 p {
    position: relative;
    padding-left: 80px; 
    margin: 10px 70px;
    background-color: #f5f5f5;
    padding: 10px;
    width: 70%;
    border-left: 5px solid #c31a53;
}

.part-3 p::before {
    content: attr(data-person);
    position: absolute;
    left: -100px;
    top: 10%;
    background-color: #ddd;
    padding: 5px 10px;
    font-weight: bold;
}

.part-3 p::after {
    content: '';
    position: absolute;
    left: -25px; 
    width: 0;
    height: 0;
    border-width: 11px;
    border-style: solid;
    border-color: transparent #c31a53 transparent transparent;
}

.part-4 p {
    position: relative;
    padding-left: 80px; 
    margin: 30px auto;
    background-color: #f5f5f5;
    padding: 10px;
    width: 70%;
    height: 50px;
    border-right: 5px solid  rgb(235, 102,53);
    counter-increment: p-counter ;
}

.part-4 p::before {
    content: counter(p-counter);
    position: absolute;
    top: 0;
    left: -39px;
    padding: 14px 15px;
    color: #fff;
    background-color: rgb(235, 102, 53);
}