* {
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 12vh 0;
}


.task {
    margin-bottom: 12vh;
}


h1{
    font-family: "Kaushan Script", cursive ,serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 3.5rem ;
}

.task-1 p {
    width: 55vw;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2rem;
    font-weight: 600;
    display: inline-block;
}

.task-1 img {
    width: 30vh;
    height: 21vh;
    display: inline-block;
}

.float {
    margin: 2rem;
}


.float li{
    float: left;
    margin: 20px  6px;
    list-style: none;
}

.float li:hover {
    opacity: 0.6;
}

.rectangle1 {
    background-color: rgba(244, 99, 99, 0.874);
    padding: 15px 25px;
    font-weight: 500;
}

.rectangle2 {
    background-color: rgb(64, 203, 64);
    padding: 15px 25px;
    font-weight: 500;
    box-shadow: 4px 5px 2px #878787;
}

.rectangle3 {
    background-color: rgb(107, 140, 228);
    padding: 15px 25px;
    font-weight: 500;
}

.rectangle4 {
    background-color: rgb(242, 242, 77);
    padding: 15px 25px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.542);
    border-radius: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.task-3 {
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom: 40px;
}

.red {
    background-color: rgb(209, 19, 19);
    z-index: 1;
}

.blue {
    background-color: rgb(15, 126, 154);
    left: 40px;
    top: 40px;
    z-index: 2;
}

.purple {
    background-color: rgb(69, 3, 78);
    left: 80px;
    top: 80px;
    z-index: 3;
}

.box {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 2rem 10rem ;
}

table {
    border:2px solid #8787874a;
    box-shadow: 3px 3px 1px #aaa;
    margin: 3.5rem;
    width: 70%;
}

td {
    background-color: #87878725;
    padding: 15px;
}