body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: #e4eef9;
}
header {
    background-color: #225e9f; 
    color: white;
    padding: 7px;
    text-align: center;
    
}

header h1 {
    margin-bottom: 5px;
}
header p {
    margin: 0;
}
h3, h4 {
    color: #06257a;
}
.area span{
    font-weight: bold;
}
.area{
    margin-left: 10%;
    margin-top: 5px ;
    max-height: 140px;
    width: 80%;
    display: inline-block;
    padding: 10px ; 
    background-color: white;
    border: 1px solid #ccc;
    line-height: 1.6;
    overflow-y: auto;
    color: #225e9f;
}
.about{
     border: inherit;
}

.left {
    list-style-type:square;
    padding-left:20px;
   
}
.projects-section {
     margin-left: 80px;
     margin-right: 50px;
    border: 2px dashed #8eb9e8 ;
    background-color: white;
   }
.proj-card {
    background-color: white;
    border: 2px solid #95b7f5;
    padding: 15px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    margin-left: 30px;

}
.proj-card img {
    border: 1px solid #8eb9e8; 
    width: 70px;
    height: 70px;
}

.proj-card h4 {
    color: #007bff;
    margin-top: 0;
    margin-bottom: 3px;
    text-decoration:underline;
}
.projects-grid {
    display: flex;
    gap: 20px; 
}

.proj-card:hover {
    transform: translateY(-5px);
    box-shadow:10px 10px 10px 10px #a1b4e4;
}

.proj-card p {
    font-size: 0.9em;
    text-align: left;
}
 .badge {
    display: inline-block;
    background-color: #09aac7;
    color: white;
    padding: 8px ;
    margin-bottom: 10px;
    margin-left: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
 .work-link h4 {
    margin-left: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}


.badge:hover {
    background-color: #555;
} 

footer {
    background-color: #225e9f; 
    color: white;
    text-align: center;
    padding: 15px ;
 }
